ion-card {
    --background: #ECF9FF;
    padding: 5px;
    .small-text {
        font-size: 10px;
        padding: 5px 0px;
    }
    ion-label {
        display: block;
        font-size: 14px;
        color: #707070;
        h2 {
            font-size: 14px;
        }
    }
}

.button {
    ion-button {
        padding-top: 10px;
    }
}

ion-title {
    font-size: 15px;
}

ion-button {
    ion-label {
        font-size: 12px;
    }
}