ion-input {
    margin-top: 15px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    display: block;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    ion-button {
        width: 100%;
        display: inline-block;
        border-radius: 8px;
        outline: none;
        font-size: 11px;
        text-transform: uppercase;
    }
    .cancel {
        --background: #cccccc;
        color: #000000;
    }
    .addItem {
        --background: #3880ff;
        color: #ffffff;
    }
    .delete {
        --background: #707070;
        color: #000000;
    }
}

ion-button {
    width: 100%;
}

.scan {
    margin-top: 15px;
    height: 33px;
    width: 40px;
}