ion-input {
    margin-top: 15px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    display: block;
    padding-inline-start: var(--ion-padding, 16px);
    font-size: 12px;
}

.total-price {
    color: #1F63AE;
    font-size: 20px;
    text-align: right;
    font-weight: 600;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    ion-button {
        width: 100%;
        display: inline-block;
        border-radius: 8px;
        outline: none;
        font-size: 13px;
        text-transform: uppercase;
    }
    .cancel {
        --background: #cccccc;
        color: #000000;
    }
    .addItem {
        --background: #1F63AE;
        color: #ffffff;
    }
    .delete {
        --background: #707070;
        color: #000000;
    }
}

ion-button {
    width: 100%;
}

.scan {
    margin-top: 15px;
    height: 31px;
    width: 40px;
    font-size: 12px;
    --background: #1F63AE;
    color: #ffffff;
}