<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Home</ion-title>
        <ion-label slot="end" class="clear" (click)="handleClear()">Clear All</ion-label>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="home">
        <ion-card *ngFor="let item of buyItemList;let n=index">
            <div class="item-upper">
                <div>
                    <p class="item-bold">{{n+1}} {{item.name}} <small>/{{item.price}}Ks</small> </p>
                    <small class="code">{{item.code}}</small>
                </div>
                <ion-button color="white" class="edit-btn" (click)="editSaleItem(item)">
                    <ion-icon name="ellipsis-vertical-outline" color="dark"></ion-icon>
                </ion-button>
            </div>
            <div class="item-lower">
                <div class="item-spec">
                    <p class="text">Total:</p>
                    <p class="item-bold">{{item.total}} Ks</p>
                </div>
                <div class="item-spec">
                    <p class="text">Qty:</p>
                    <p class="item-bold">{{item.qty}}</p>
                </div>
            </div>
        </ion-card>
        <ion-button class="add-btn" (click)="showModal()">Add Item
            <ion-icon name="add-outline" class="addItem"></ion-icon>
        </ion-button>
    </div>

</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button expand="full" text-center class="next ion-text-center" color="white" (click)="next()">Next</ion-button>
    </ion-toolbar>
</ion-footer>