ion-label {
    padding-bottom: 20px;
    font-size: 12px;
}

ion-input {
    border: 1px solid #cccccc;
    border-radius: 3px;
    display: block;
    font-size: 12px;
}

ion-row.d-flex {
    display: flex;
    justify-content: space-between;
    ion-button {
        width: 100%;
        display: inline-block;
        border-radius: 8px;
        outline: none;
        font-size: 13px;
        text-transform: uppercase;
    }
    .cancel {
        --background: #cccccc;
        color: #000000;
    }
    .addItem {
        --background: #1F63AE;
        color: #ffffff;
    }
    .delete {
        --background: #707070;
        color: #000000;
    }
}

.scan {
    height: 31px;
    width: 40px;
    font-size: 12px;
    margin: 0;
    --background: #1F63AE;
    color: #ffffff;
}